<!-- configuracoes para serem recebidos no painel-simples html -->
<app-painel-simples titulo="Consultas Marcadas ultimos 30 dias" col="6" tipo="info">
  <!-- a tag abaixo sera passado para o component filho -->
  <h3 class="text-center">{{resumo.consultas.consultas_30dias_anteriores}}</h3>
</app-painel-simples>
<app-painel-simples titulo="Faturamento Anterior" col="6" tipo="info">
  <h3 class="text-center">{{resumo.consultas.consultas_30dias_posteriores}}</h3>
</app-painel-simples>
<app-painel-simples titulo="Consultas Marcadas proximos 30 dias" col="6" tipo="info">
  <div class="box-faturamento">
    <div class="col-md-10">
      <h1>{{resumo.faturamento.anterior.valor}}</h1>
    </div>
    <div class="alert col-md-2 sm alert-danger">
      <h1>{{resumo.faturamento.anterior.comparativo}}%</h1>
    </div>
  </div>
</app-painel-simples>
<app-painel-simples titulo="Faturamento Provisão" col="6" tipo="info">
  <div class="box-faturamento">
    <div class="col-md-10">
        <h1 class="text-left">
            {{resumo.faturamento.previsao.valor}}</h1>
    </div>
    <div class="alert col-md-2 sm alert-success">
      <b>{{resumo.faturamento.previsao.comparativo}}%</b>
    </div>
  </div>
</app-painel-simples>